body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width:700px;
  margin:100px auto;
  padding:1rem;
}
.Form{
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 2rem;
  padding: 2rem;
  width: 100%;
}
.Form label{
  display: block;
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 700;
}
.Form input{
  width: 100%;
  padding: 1rem 0.3rem;
  margin-bottom: 1rem;
}
.box{
  border: black;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}



/* CSS */
.Button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.Button:disabled {
  pointer-events: none;
}

.Button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.Button:active {
  box-shadow: none;
  transform: translateY(0);
}
